<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> - OAhexschool</p>
    <P>我發完 PR 了!可以下班了嗎？</P>
  </body>
</html>
